<mat-toolbar color="primary">
  <span *ngIf="auth.isLoggedIn()">
    <a mat-button routerLink="/">Member</a>
  </span>
  <span *ngIf="auth.isLoggedIn()">
    <a mat-button routerLink="/ip">IP</a>
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <button mat-menu-item *ngIf="!auth.isLoggedIn()">
      <mat-icon>input</mat-icon>
      <span><a href="/login">Sign in</a></span>
    </button>

    <button mat-menu-item *ngIf="auth.isLoggedIn()">
      <mat-icon>settings</mat-icon>
      <span>Setting</span>
    </button>

    <button mat-menu-item *ngIf="auth.isLoggedIn()" (click)="auth.logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>

  </mat-menu>
</mat-toolbar>