mat-spinner {
  margin: auto;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.member-element-create-container {
    overflow: hidden;
    display: flex;
}

.app-member-create {
  width: 100%;
  margin: 1rem;
}

table {
  width: 100%;
}

tr.member-detail-row {
  height: 0;
}

.member-element-detail {
  overflow: hidden;
  display: flex;
}

tr.member-element-row:not(.member-expanded-row):hover {
  background: #f5f5f5;
}

tr.member-element-row:not(.member-expanded-row):active {
  background: #efefef;
}

.member-element-row td {
  border-bottom-width: 0;
}

.action-column {
  text-align: right;
}
