<mat-toolbar>
  <mat-toolbar-row>
    <span>
      <button mat-icon-button>
        <mat-icon aria-label="Add member" [routerLink]="['/member/create']">add_box</mat-icon>
      </button>
    </span>
    <span class="toolbar-spacer"></span>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon aria-label="Show Column" [matMenuTriggerFor]="menu">visibility</mat-icon>

    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <mat-list>
    <mat-list-item>
      <mat-checkbox (change)="showAllColumns($event.checked)">All</mat-checkbox>
    </mat-list-item>
    <ng-container *ngFor="let column of filterColumnOfCheckbox()">
      <mat-list-item>
        <mat-checkbox [(ngModel)]="displayedEnable[column]" (change)="showColumns($event)"> {{displayedHeaders[column]}} </mat-checkbox>
      </mat-list-item>
    </ng-container>
  </mat-list>
</mat-menu>
<!-- <div class="member-element-create-container" [@detailExpand]="newRecord ? 'expanded' : 'collapsed'">
  <app-member-create class="app-member-create"></app-member-create>
</div> -->

<mat-spinner *ngIf="isLoading"></mat-spinner>
<div [hidden]="isLoading">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">

  <ng-container matColumnDef="{{column}}" *ngFor="let column of allColumns">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{displayedHeaders[column]}} </th>
    <td mat-cell *matCellDef="let element" class="action-column" [class.action-column]="column == 'action'">
      <span *ngIf="column != 'action' && column != 'dateofbirth'"> {{element[column]}}</span>
      <span *ngIf="column == 'dateofbirth'"> {{element[column] | date: 'dd/MM/yyyy'}}</span>
      <span *ngIf="column == 'action'">
        <button mat-icon-button>
          <mat-icon [routerLink]="['/member/edit', element['id']]">create</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(element['id'])">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </td>
  </ng-container>

  <!-- <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="member-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <app-member-create class="app-member-create"></app-member-create>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="member-element-row" [class.member-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement != element ? element : null"></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="member-detail-row"></tr> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[20, 40, 60, 100]" showFirstLastButtons></mat-paginator>
</div>
