<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveIp(ipForm)" #ipForm="ngForm" *ngIf="!isLoading" class="ip-form">
    <div class="ip-container">
      <!-- <mat-form-field>
        <mat-select name="status" [(ngModel)]="ip.status" placeholder="status" #status="ngModel">
          <mat-option value="Available">Available</mat-option>
          <mat-option value="InUse">In use</mat-option>
        </mat-select>
      </mat-form-field>-->
      <mat-form-field> 
        <input matInput type="text" name="ipaddress" [(ngModel)]="ip.ipaddress" required placeholder="IP Address" #ipaddress="ngModel" >
        <mat-error *ngIf="ipaddress.invalid">Please enter IP Address</mat-error>
      </mat-form-field>
    </div>
    <div class="ip-container">
      <mat-form-field>
        <input matInput type="text" name="comno" [(ngModel)]="ip.comno"  placeholder="Com No." #comno="ngModel">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="name" [(ngModel)]="ip.name"  placeholder="Name" #name="ngModel">
      </mat-form-field>
      <mat-form-field>
        <mat-select name="teams" [compareWith]="compareTeam" [(ngModel)]="ip.teams" placeholder="Team" #team="ngModel" multiple>
          <mat-option *ngFor="let team of teams" [value]="team">
            {{team.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="ip-container">
      <mat-form-field>
        <input matInput type="text" name="remark" [(ngModel)]="ip.remark"  placeholder="Remark" #remark="ngModel">
      </mat-form-field>
     
    </div>
   
   
    <mat-action-row>
      <button mat-raised-button color="primary" type="submit">Save</button>&nbsp;
    </mat-action-row>
  </form>
</mat-card>
