<h1 mat-dialog-title>Are you sure</h1>
<div mat-dialog-content>
    <p>Do you want to delete ? </p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCloseCancel()">No Thanks</button>
    <button mat-button (click)="onCloseConfirm()" mat-button color="warn" cdkFocusInitial>Yes</button>
</div>