.right { 
    margin-left: auto
}

table {
    width: 100%;
  }


  th {
      background: #c9c9c9;
      color: rgb(0, 0, 0);
      font-size: 0.95em;
      font-weight: bold;
  }

  .TypeFrame {
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 5px;
  padding-top : 3px;
  padding-bottom : 3px;
  padding-left: 7px;
  padding-right: 7px;
}
.ColorInUse {
  color: #fff;
  background-color: #369ce0;
}

.ColorAva {
  
  color: #fff;
  background-color: #7bd12a;
}

.ColorRep {
  color: #fff;
  background-color: #7b7c7e;
}
