<h2>IP Address management</h2>
<hr>
<!-- search input -->
<mat-toolbar>
  <mat-toolbar-row>
    <span>
      <button mat-icon-button>
        <mat-icon aria-label="Add ip" routerLink="/ip/create">add_box</mat-icon>
      </button>
    </span>
    <span class="toolbar-spacer"></span>
    <mat-form-field class="right">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-icon-button>
      <mat-icon aria-label="Show Column" [matMenuTriggerFor]="menu">visibility</mat-icon>

    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <mat-list>
    <mat-list-item>
      <mat-checkbox (change)="showAllColumns($event.checked)">All</mat-checkbox>
    </mat-list-item>
    <ng-container *ngFor="let column of filterColumnOfCheckbox()">
      <mat-list-item>
        <mat-checkbox [(ngModel)]="displayedEnable[column]" (change)="showColumns($event)"> {{displayedHeaders[column]}} </mat-checkbox>
      </mat-list-item>
    </ng-container>
  </mat-list>
</mat-menu>
<!-- <mat-divider></mat-divider> -->

<mat-spinner *ngIf="isLoading"></mat-spinner>
<div [hidden]="isLoading">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">

    <ng-container matColumnDef="{{column}}" *ngFor="let column of allColumns">
      <!-- head -->
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{displayedHeaders[column]}} </th>

      <!-- body -->
      <td mat-cell *matCellDef="let element" class="action-column" [class.action-column]="column == 'action'">
        <span *ngIf="column == 'status'" class="{{getClass(getStatus(element.name,element.comno))}} " > {{getStatus(element.name,element.comno)}}</span>
        <span *ngIf="column != 'action' && column != 'no' && column != 'status'"> {{element[column]}}</span>
        <span *ngIf="column == 'no'" > {{element.no}} </span>
        <span *ngIf="column == 'no'">{{getRow()}}</span>
        <span *ngIf="column == 'edit'">
          <button mat-icon-button>
            <mat-icon [routerLink]="['/ip/edit', element['id']]">create</mat-icon>
          </button>
          <button mat-icon-button (click)="onDelete(element['id'])">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[20, 40, 60, 100]" showFirstLastButtons></mat-paginator>


</div>

