<form (submit)="onLogin(userForm)" #userForm="ngForm">
  <div>
    <mat-form-field>
      <input matInput type="text" name="username" [ngModel]="member?.username" required placeholder="Username" #username="ngModel">
      <mat-error *ngIf="username.invalid">Please enter Username</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="password" name="password" [ngModel]="member?.password" required placeholder="Password" #password="ngModel">
      <mat-error *ngIf="password.invalid">Please enter Password</mat-error>
    </mat-form-field>
  </div>
  <mat-action-row>
    <button mat-raised-button color="primary" type="submit">Login</button>&nbsp;
  </mat-action-row>
</form>