
<div fxLayout="row" fxLayoutAlign="center center" style="display: flex; flex-direction: row; max-width: 100%; 
       box-sizing: border-box; justify-content: center; 
       align-content: center; align-items: center;">
  <form (submit)="login(userForm)" #userForm="ngForm">
    <div>
      <mat-form-field>
        <input matInput type="text" name="username" [ngModel]="credentials.username" required placeholder="Username" #username="ngModel">
        <mat-error *ngIf="username.invalid">Please enter Username</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput type="password" name="password" [ngModel]="credentials.password" required placeholder="Password" #password="ngModel">
        <mat-error *ngIf="password.invalid">Please enter Password</mat-error>
      </mat-form-field>
    </div>
    <mat-action-row>
      <button mat-raised-button color="primary" type="submit">Login</button>
      <a href="/register">Create Account</a>
    </mat-action-row>
  </form>
</div>