mat-spinner {
  margin: auto;
}

.member-form {
  width: 100%;
}

.member-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

mat-form-field,
input {
  padding-right: 2rem;
}
