<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveMember(memberForm)" #memberForm="ngForm" *ngIf="!isLoading" class="member-form">
    <div class="member-container">
      <mat-form-field>
        <input matInput type="text" name="nameen"  [(ngModel)]="member.nameen" required placeholder="Name (EN)" #nameen="ngModel">
        <mat-error *ngIf="nameen.invalid">Please enter Name (EN)</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="surnameen" [(ngModel)]="member.surnameen" required placeholder="Surname (EN)" #surnameen="ngModel">
        <mat-error *ngIf="surnameen.invalid">Please enter Surname (EN)</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="nicknameen" [(ngModel)]="member.nicknameen" required placeholder="Nickname (EN)" #nicknameen="ngModel">
        <mat-error *ngIf="nicknameen.invalid">Please enter Nickname (EN)</mat-error>
      </mat-form-field>
    </div>
    <div class="member-container">
      <mat-form-field>
        <input matInput type="text" name="nameth" [(ngModel)]="member.nameth" required placeholder="Name (TH)" #nameth="ngModel">
        <mat-error *ngIf="nameth.invalid">Please enter Name (TH)</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="surnameth" [(ngModel)]="member.surnameth" required placeholder="Surname (TH)" #surnameth="ngModel">
        <mat-error *ngIf="surnameth.invalid">Please enter Surname (TH)</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="nicknameth" [(ngModel)]="member.nicknameth" required placeholder="Nickname (TH)" #nicknameth="ngModel">
        <mat-error *ngIf="nicknameth.invalid">Please enter Nickname (TH)</mat-error>
      </mat-form-field>
    </div>
    <div class="member-container">
      <mat-form-field>
        <input matInput type="text" name="tel" [(ngModel)]="member.tel" required placeholder="Tel" #tel="ngModel">
        <mat-error *ngIf="tel.invalid">Please enter Tel</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="email" [(ngModel)]="member.email" required email placeholder="Email" #email="ngModel">
        <mat-error *ngIf="email.invalid">Please enter valid Email</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date of birth" required name="dateofbirth" [(ngModel)]="member.dateofbirth" #dateofbirth="ngModel">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="dateofbirth.invalid">Please enter date of birth</mat-error>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="member-container">
      <mat-form-field>
        <input matInput type="text" name="username" [(ngModel)]="member.username" required placeholder="Username" #username="ngModel">
        <mat-error *ngIf="username.invalid">Please enter Username</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="workemail" [(ngModel)]="member.workemail" required email placeholder="Work Email" #workemail="ngModel">
        <mat-error *ngIf="workemail.invalid">Please enter valid Work Email</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="company" [(ngModel)]="member.company" required placeholder="Company" [matAutocomplete]="auto" #company="ngModel" (ngModelChange)="filteredCompanies = companyFilter($event)">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let company of filteredCompanies" [value]="company">
              <span>{{company}}</span>
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="company.invalid">Please enter Company</mat-error>
      </mat-form-field>
    </div>
    <div class="member-container">
      <mat-form-field>
        <input matInput type="text" name="cardid" [(ngModel)]="member.cardid" placeholder="Card ID" #cardid="ngModel">
      </mat-form-field>
      <mat-form-field>
        <mat-select name="teams" [compareWith]="compareTeam" [(ngModel)]="member.teams" placeholder="Team" #team="ngModel" multiple>
          <mat-option *ngFor="let team of teams" [value]="team">
            {{team.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-action-row>
      <button mat-raised-button color="primary" type="submit">Save</button>&nbsp;
    </mat-action-row>
  </form>
</mat-card>
